/**
 * MUSE Player plugin desktop lyric Stylesheet
 */
.muse-plugin-desktop-lyric__container {
	width: 100%;
	height: 50px;

  display: none;
	font-size: 36px;
	text-align: center;
	font-weight: bold;

	background: linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220), rgb(255, 255, 255));
	background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220), rgb(255, 255, 255));
	background: -moz-linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220), rgb(255, 255, 255));

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px #1a1a1a;

	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-moz-text-stroke: 1px #1a1a1a;

	position: fixed;
	bottom: 10%;
	left: 0px;
	z-index: 233;

	cursor: move;
}
